<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
    <targets>
        <target xsi:type="AsyncWrapper"
                name="defaultAsync"
                overflowAction="Block">
            <target xsi:type="ColoredConsole" name="default" encoding="utf-8"/>
        </target>
        <target xsi:type="AsyncWrapper"
                name="debuggerAsync">
            <target xsi:type="Debugger" name="debugger"/>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="defaultAsync" />
        <logger name="*" minlevel="Debug" writeTo="debuggerAsync" />
    </rules>
</nlog>
